body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #f2f2f2;
  padding: 0 2rem;
  background-color: #2b2b2b;
}

body > header h1 > a {
  color: #f2f2f2;
  text-decoration: none;
}

body > header h4 {
  margin-top: -10px;
}

img {
    display: block;
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4 {
  width: 100%;
  min-width: 840px;
  font-weight: bold;
  color: #f2f2f2;
}

hr {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1100px;
  border: none;
  border-bottom: 1px solid #3b3b3b;
}

pre {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 90%;
  background-color: #333;
  color: #ddd;
  overflow-x: auto;
}

code {
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  background-color: #333;
  color: #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.5rem;
  border: none;
  text-align: left;
}

a, a:visited, a:active {
  color: #bd2dfd;
  text-decoration: none;
}

a:hover {
  color: #cccccc;
}

main {
  width: 75%;
  min-width: 940px;
  margin: 2rem auto;
  display: block;
}

nav {
  float: left;
  width: 200px;
  min-width: 200px;
  background-color: #3b3b3b;
}

nav a, nav a:visited, nav a:active {
  color: #ddd;
  text-decoration: none;
}

nav a:hover {
  color: #cccccc;
}

nav li {
  margin: 0;
  list-style: none;
}

footer {
  clear: both;
  width: 100%;
  background-color: #2b2b2b;
  padding: 1rem;
}

article {
  margin: 1rem;
}

article h2 > a, article h2 > a:visited, article h2 > a:active {
  text-decoration: none;
  color: #ddd;
}

article h2 > a:hover {
  color: #cccccc;
}

article .entry {
  margin-left: 1.5rem;
  padding: 1rem;
  border-left: 3px solid #3b3b3b;
}

article .entry img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

article header span {
  margin-top: -10px;
  margin-bottom: -3px;
  margin-left: 15px;
}

article header h2 {
  margin-bottom: 3px;
}

section address {
  margin-left: 1.5rem;
}

#paginator {
  padding: 1rem;
}

#paginator a {
  text-decoration: none;
  color: #ddd;
}

.more {
  margin-left: 80%;
}
